<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="HomePageValidation.SangamTest.ValidateHomePageTest"/>
      <class name="HomePageValidation.SangamTest.DOBValidDateErrorTest"/>
      <class name="HomePageValidation.SangamTest.HomeEmailValidationTest"/>
      <class name="HomePageValidation.SangamTest.CommunityErrorMessageTest"/>
      <class name="HomePageValidation.SangamTest.DOBBlankErrorTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
